.wrapper {
  background-image: url('./../../assets/img/bg.jpg');
  height: 160vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 205px;
}